﻿@model IEnumerable<Suplayer.Playlist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Songs)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Songs)
            </td>
            <td>
                <div class="controls">
                    <a href="#" class="btn btn-primary">&laquo;@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |</a>
                    <a href="#" class="btn btn-primary" data-action="play">

                        <i class="glyphicon glyphicon-pause"> @Html.ActionLink("Details", "Details", new { id = item.Id }) |</i>
                        Play
                        /
                        <i class="glyphicon glyphicon-pause"> @Html.ActionLink("Delete", "Delete", new { id = item.Id })</i>
                        Pause
                    </a>
                    <a href="#" class="btn btn-primary">Next &raquo;</a>
                </div>
            </td>
        </tr>
    }

</table>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
        </ul>

        <h1 itemprop="name">Player</h1>
    </div>

    <div id="demo">
        <div id="waveform">
            <!-- Here be the waveform -->
        </div>

        <div class="controls">
            <a href="#" class="btn btn-primary">&laquo; Previous</a>
            <a href="#" class="btn btn-primary" data-action="play">

                <i class="glyphicon glyphicon-pause"></i>
                Play
                /
                <i class="glyphicon glyphicon-pause"></i>
                Pause
            </a>
            <a href="#" class="btn btn-primary">Next &raquo;</a>
        </div>
    </div>



</div>